<div> 
  <img width="200px" src="https://api.{{ url }}/images/logo.png"/>
</div>
<div> Hi {{ firstname }}! </div>
<div> Please verify your RaceBase account using the link below: </div>
<div>
  <a href="https://{{ url }}/user/verify/{{emailToken}}">
  Verify your account
  </a>
</div>
<div> This link expires in 1 hour! </div>
